@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

* {
  font-family: "Fredoka", sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}
svg {
  cursor: pointer;
}

h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 600;
  font-size: 8em;
  letter-spacing: -0.075em;
  white-space: nowrap;
}

