.all_swap_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100%;
  margin-top: 11vh;
}
.all_swap_card_main_start {
  width: 70%;
  border-radius: 20px;
  background-color: #edffef;
  box-shadow: 0px 5px 26px rgba(109, 141, 173, 0.25);
  margin: 1vh;
  padding: 2vw;
  cursor: pointer;
}
.all_swap_card_main_end {
  width: 70%;
  border-radius: 20px;
  background-color: #ffeaea;
  box-shadow: 0px 5px 26px rgba(109, 141, 173, 0.25);
  margin: 1vh;
  padding: 2vw;
  cursor: pointer;
}
.all_swap_card_header {
  padding: 0 0 1vh 0;
  font-weight: 600;
  font-size: 1.2rem;
}

.all_swap_cart_main_end {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.all_swap_cart_left_main {
}

.all_swap_cart_right_main {
}

.all_swap_type_header {
  font-size: 1vw;
}
.all_swap_type_content {
  color: #7c7c7c;
  font-size: 0.7vw;
}

.all_swap_icon_main {
  display: flex;
  justify-content: center;
  align-items: center;
}
