/* *Apply all */

.common_main {
  display: flex;
  justify-content: center;
  height: 100%;
}
.common_left_main {
  width: 50%;
  height: 100%;
  margin-right: 3vh;
}
.common_right_main {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.common_map {
  background-color: #fff;
  width: 90%;
  height: 50%;
}

/* ? Search */

.common_search_main {
  margin: 2vh 0 2vh 0;
  width: 90%;
  border-bottom: 2px solid #81d0df;
  display: flex;
}

.common_search_main > input:focus {
  outline: none;
  background-color: transparent;
}

.common_search_input {
  width: 100%;
  border: none;
  background-color: transparent;
}

/* ? Card */

.common_description_main {
  margin: 3vh 0;
  height: 22vh;
  border-radius: 20px;
  width: 90%;
  box-shadow: 0px 2px 10px 0px rgba(109, 141, 173, 0.15);
  overflow: auto;
}

/* ? Right Side header */

.common_description_content_header {
  padding: 2vh;
}

.common_profile_header {
  font-weight: 600;
  font-size: 1.5vw;
  color: #363636;
}

.common_profile_img_main {
  display: flex;
  justify-content: center;
}
.common_profile_img {
  border: 1px solid #b0afaf;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  width: 5vw;

  justify-content: space-between;
  align-items: center;
}
.common_profile_address_main {
  display: flex;
  margin: 4vh 0;
}

.common_profile_address_header {
  color: #000000;
  font-weight: 300;
  font-size: 1vw;
}

.common_profile_address_text {
  font-weight: 300;
  font-size: 1vw;
}

.common_none_profile_address {
  margin: 3vh 0 2vh 0;
}
.common_none_profile_axis_main {
  color: #1a1a1a;
  display: flex;
  width: 100%;
  margin: 2vh 0 2vh 0;
}
.common_none_profile_axis_x {
  width: 50%;
}
.common_none_profile_image_drop_main {
  width: 100%;
  color: #1a1a1a;
}
.common_none_profile_input_des_main > input:focus {
  outline: none;
}
.common_none_profile_image_drop_header {
  margin: 0 0 2vh 0;
}

.common_none_profile_input_des_main {
  width: 100%;
  margin: 4vh 0 4vh 0;
}

.common_none_profile_input_des_header {
  margin: 0 0 2vh;
}
.common_none_profile_input_des_text {
  width: 100%;
  border: 2px solid #949494;
}
.common_none_profile_button_main {
  height: 4vh;
  display: flex;
  justify-content: flex-end;
  margin: 2vh 0 2vh;
}
.common_none_profile_button_mint {
  height: 100%;
  width: 40%;
  display: flex;
  background-color: #2393b0;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1vh;
  cursor: pointer;
}

.common_none_profile_button_mint > div {
  margin-left: 1vh;
}

.common_offers_main {
  height: 22vh;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px rgba(109, 141, 173, 0.15);
  overflow: auto;
}

.common_offers_header {
  padding: 1vw;
  color: #535353;
}

.common_price_history_main {
  height: 22vh;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px rgba(109, 141, 173, 0.15);
  overflow: auto;
  margin: 5vh 1vh 1vh 0;
}

.common_price_history_header {
  padding: 1vw;
  color: #535353;
}
