@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gamja+Flower&family=Pacifico&family=Poppins&family=Press+Start+2P&family=Raleway:wght@600&family=Roboto+Mono:wght@400;500&family=Sunflower:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gamja+Flower&family=Poppins&family=Press+Start+2P&family=Roboto+Mono:wght@400;500&family=Sunflower:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gamja+Flower&family=Pacifico&family=Patrick+Hand&family=Poppins&family=Press+Start+2P&family=Raleway:wght@600&family=Roboto+Mono:wght@400;500&family=Satisfy&family=Sunflower:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gamja+Flower&family=Poppins&family=Press+Start+2P&family=Raleway:wght@600&family=Roboto+Mono:wght@400;500&family=Sunflower:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Mono&display=swap");

.global_main {
  /* font-family: "Roboto Mono", monospace; */
  height: 100%;
}

.global_main_support {
  height: 100%;
}
.main_layout {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main_myapp_layout {
  height: 100%;
  width: 100%;
}

.main_bg {
  width: 100vw;
  height: 100vh;
}

.sky {
  color: #fff;
  background: linear-gradient(-45deg, #1d2c41, #a5bbce, #4fa3f0, #22131a);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  position: relative;
  animation: backgroundChange 20s ease-in-out infinite;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* overflow: hidden; */
}

@keyframes backgroundChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.forest {
  background-image: url("../assets/main_forest.png");
  /* position: absolute; */
  bottom: 0;
  min-width: 100vw;
  max-height: 100vh;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_layout_scroll {
  margin: 0;
  padding: 0;
}

.main_title {
  font-size: 8vh;
}

.main_title_section0 {
  font-size: 12vh;
  color: rgb(204, 204, 204);
  font-family: "Poppins", sans-serif;
  /* margin-bottom: 5vh; */
  letter-spacing: -5vh;
  background: linear-gradient(to top, #6392e9, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 10px;
  font-weight: 900;
  letter-spacing: 0.1vh;
}

.main_title_section0_sub {
  /* white-space: pre-line; */
  font-size: 2.5vh;
  color: rgb(219, 235, 255);
  font-family: "Poppins", sans-serif;
  /* text-align: center; */
  /* margin-bottom: 1px; */
}

/* .main_navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: black;
} */

.main_go_dashboard {
  font-size: 3vh;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main_go_mainpage {
  font-size: 3vh;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 20px;
  z-index: 1;
}

.main_go_map {
  font-size: 3vh;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 20px;
  z-index: 1;
}

.main_image_container {
  width: 50vw;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main_title {
  font-size: 3vw;
}

.main_section1 {
  background-color: #272727;
  height: 100%;
}

.main_landImg {
  width: 65vh;
  margin-bottom: 5vh;
}

.main_section1_card {
  width: 10vw;
  height: 20vh;
  background-color: yellowgreen;
}

.main_feat {
  /* background-image: url(".././assets/info_1.jpg"); */
  width: 100px;
  height: 100px;
}

.main_section1_container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_buyland {
  font-size: 7vh;
  margin-bottom: 5vh;
  color: rgb(204, 204, 204);
  font-family: "Roboto Mono", monospace;
}

.main_buyland_sub {
  font-size: 3vh;
  color: rgb(204, 204, 204);
}

.main_section3 {
  background-color: #272727;
  color: bisque;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  background-color: bisque;
  list-style: none;
  margin: 2vw;
}
