.swap_main {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  height: 100%;
}
.swap_left_main {
  margin-right: 2vw;
  width: 50%;
}

.swap_right_main {
  width: 45%;
}





.swap_left_map_main {
  width: 100%;
  height: 60%;
}

.swap_left_have_main {
  border-radius: 20px;
  box-shadow: 0px 14px 40px rgba(109, 141, 173, 0.25);
  width: 80%;
  height: 30%;
  margin: 1vh 1vh 3vh 9vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swap_right_type_select_main {
  display: flex;
}
.swap_right_profile_image_main {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.swap_left_have_header {
  padding: 2vh;
}
.swap_left_have_content {
  height: 50%;
  padding: 1vh;
}

.swap_left_have_footer {
  display: flex;
  justify-content: flex-end;
}
.swap_left_have_footer_button {
  margin: 2vh;
  padding: 1vh;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #2393B0;
}

.swap_right_header {
  font-size: 1.5em;
}


.swap_right_want_main {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 80%;
  box-shadow: 0px 14px 40px rgba(109, 141, 173, 0.25);
  margin: 3vh 1vh 1vh 1vh;
  border-radius: 20px;
}
.swap_right_want_footer {
  display: flex;
  justify-content: flex-end;
}
.swap_right_want_footer_button {
  margin: 2vh;
  padding: 1vh;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #2393B0;
}

.swap_right_button_main {
  display: flex;
  padding: 4vh 1vh 1vh 0;
}
.swap_right_type_select_main {
  width: 45%;
  height: 15%;
  border-radius: 10px;
  display: flex;
  justify-content:center;
  background: #F0F0F0;
}

.swap_right_type_select_div {
  height: 100%;
  width: 33%;
  background: #F0F0F0;
  border-radius: 10px;
  font-size: 0.8em;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swap_right_type_select_div_selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  background: #E3E3E3;
  height: 100%;
  font-size: 0.8em;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.swap_right_button_div {
  cursor: pointer;
  margin: 0 2vh 0 0;
  border-radius: 5px;
  background: #2393B0;
  color: #fff;
  padding: 1vh;
}

.swap_right_want_header {
  padding: 2vh;
}

.swap_right_description_main {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swap_right_form_main {
  display: flex;
}
.swap_right_form_main > input:focus {
 outline: none;
}
.swap_right_form_main > input {
  border: none;
  border-bottom: 1px solid #81D0DF;
  margin: 0 0 0 2vh;
}

