
.allswap-card__container{
   
    margin-bottom: 25px;
    max-height : 9em;
}

.maker-card{
    background-color: rgb(245, 245, 218);
    margin :auto
}

.swap-icon{
    margin: auto;
    
}

.card-img{
    margin: auto;
    padding-bottom: 3px;
}
.more-button{
    display: flex;
    margin: auto;
    width: auto;
    padding-bottom: auto;
    font-size: 1.1em;
    background-color: rgb(194, 233, 233);
    border-color: beige;
    color: black;
}

.type-box,
.text-box{
    max-height: 40px;
    margin: auto;
}

.type-box{
    background-color: rgb(190, 188, 188);
}