.c_content_header_main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.content_header_input {
  border-radius: 20px;
  border: 1px solid rgba(213, 234, 240, 1);
  /* filter: drop-shadow(0px 0px 8px rgba(8, 117, 146, 0.1)); */
  box-sizing: border-box;
  display:flex;
  height: 6vh;
  justify-content: space-between;
  margin: 0 2vw 0 1vw;
  width: 30vw;
}

.content_header_input_wright {
  flex-grow: 1;
  border: none;
  height: 100%;
  margin: 0 0 0 2vw;
}

.content_header_input_wright:focus {
  outline: none;
}
.content_header_input_symbol {
  height: 100%;
  margin: 0 2vw 0 0;
}

.content_header_noti_icon {
  display: flex;
}

.content_header_noti_message_icon {
  background: rgba(197, 197, 197, 15%);
  border-radius: 10px;
  width: 2vw;
  padding: 0.5vw;
  margin-right: 1vw;
  display: flex;
  justify-content: center;
}

.content_header_noti_bell_icon {
  background: rgba(197, 197, 197, 15%);
  border-radius: 10px;
  width: 2vw;
  padding: 0.5vw;
  display: flex;
  justify-content: center;
}


.header_profile_login_main {
  display: flex;
  height: 100%;
  justify-content:center;
  align-items: center;
  margin: 0 2vw 0 2vw;
}

.header_profile_login_properties {
  margin: 0 1vw 0 0.5vw;
}
.header_profile_login_nickname {
  font-size: 2vh;
  color: #828282;
}
.header_profile_login_address{
  font-size: 1.5vh;
  color: #BDBDBD;
}

.content_header_profile_no_login {
  padding: 0.5vw 2vw 0.5vw 2vw;
  border: 4px solid #69E7CB;
  border-radius: 10px;
}
