@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Oswald:wght@500&family=Patrick+Hand&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gamja+Flower&family=Poppins&family=Sunflower:wght@500&display=swap");

.inner_img {
  background-image: url("../../assets/inner_bg2.png");
  background-size: cover;
  width: 145px;
  height: 145px;
  margin-top: -0.1vh;
}

.inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner_title {
  font-family: "Oswald", sans-serif;
  color: #7ebc59;
  font-size: 20px;
}

.inner_sub {
  font-family: "Poppins", sans-serif;
  font-size: 5px;
  color: gray;
}

.inner_btn {
  font-family: "Poppins", sans-serif;
  width: 2vw;
  height: 1.7vh;
  background-color: #f6d04d;
  text-align: center;
  font-size: 0.5px;
  color: white;
  border-radius: 4px;
  margin-top: 3px;
}
