.load_main {
  height: 100%;
  widht: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.load_left_main {
  width: 45%;
  word-break:break-all;
}

.load_left_button_main {
  display: flex;
  margin: 1vh;
}

.load_left_approve_btn_main {
  padding: 1vw;
  background: #2393B0;
  color: #fff;
  margin: 0.2vh;
  border-radius: 12px;
}

.load_left_accept_btn_main {
  padding: 1vw;
  color: #fff;
  margin: 0.2vh;
  background: #2393B0;
  border-radius: 12px;
}

.load_right_main {
  width: 45%;
  word-break:break-all;
}

.load_type_form_main_start {
  box-shadow: 0px 5px 26px rgba(109, 141, 173, 0.25);
  border-radius: 20px;
  margin: 1vh;
  padding: 1vh;
  background: #EDFFEF;
}

.load_type_form_main_end {
  box-shadow: 0px 5px 26px rgba(109, 141, 173, 0.25);
  border-radius: 20px;
  margin: 1vh;
  padding: 1vh;
  background: #FFEAEA;
}

.load_type_main {
  padding: 0.3vh;
}

.load_type_header {
  font-size: 1.2 rem;
}

.load_type_content {
  font-size: 1rem;
  color: #7C7C7C;
}
