.load_main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow-x: hidden; */
}

.load_loading_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.load_loading_main_text {
  padding: 2vh 0;
}
.load_loading_main_icon {
  display: flex;
}

.load_form_main {
  display: flex;
  justify-content: center;
}

.load_left_form_main {
  width: 80%;
  word-break: break-all;
}

.load_status_main {
  width: 60%;
  padding: 0 0 1vh 14vh;
  font-size: 2vh;
}

.load_status_main {
  display: flex;
  width: 90%;
  text-align: left;
  align-items: left;
}

.load_button_main {
  display: flex;
  width: 85%;
  margin: 1vh;
}

.button_container {
  display: flex;
  margin-left: 6vw;
  flex-direction: row;
  width: 100%;
}

.load_left_approve_btn_main {
  display: flex;
  padding: 1vw;
  background: #eeeeee;
  color: #4b4b4b;
  margin-right: 1vw;
  border-radius: 12px;
  cursor: pointer;
  height: 5vh;
  align-items: center;
}

.load_left_accept_btn_main {
  display: flex;
  padding: 1vw;
  color: #4b4b4b;
  background: #eeeeee;
  border-radius: 12px;
  cursor: pointer;
  height: 5vh;
  align-items: center;
}

.load_right_main {
  width: 80%;
  word-break: break-all;
}

.load_metadata_image_main {
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}
.metadata_image_content_main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* width: 50%;
  height: 100%; */
  width: 12vw;
  height: 12vw;
}
.metadata_image_content_text {
  padding: 1vh 0;
  text-align: center;
}

.metadata_image_sup_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 80%;
}

.load_type_main {
  padding: 0.3vh;
}

.load_type_header {
  font-size: 1.2 rem;
}

.load_type_content {
  font-size: 1rem;
  color: #7c7c7c;
}

.card_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 80%;
}

.card_left {
  background-color: #27a0be;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 20px;
  box-shadow: 0 0 7px #cccccc;
}

.card_right {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 20px;
  box-shadow: 0 0 7px #cccccc;
}

.load_type_form_main_start {
  /* box-shadow: 0px 5px 26px #6d8dad40; */
  border-radius: 20px;
  margin: 1vh;
  padding: 1vh;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.load_type_form_main_end {
  /* box-shadow: 0px 5px 26px rgba(109, 141, 173, 0.25); */
  border-radius: 20px;
  margin: 1vh;
  padding: 1vh;
  background: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}
