.main_sidebar {
  font-size: 2.2vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar_header {
  display: flex;
  width: 100%;
  justify-content: center;
  item-align: center;
  text-align: center;
  padding-top: 1vh;
}
.sidebar_header_logo_main {
  display: flex;

}

.sidebar_header_logo_pro {
}

.sidebar_header_text {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 1vw;
}

.sidebar_content_link {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar_div_main {
  align-items: center;
  padding: 2vh;
}

.sidebar_div_active {
  background: linear-gradient(90deg, #087592 43.67%, #2393b0 97.5%);
  box-shadow: 4px 15px 60px rgba(109, 141, 173, 0.25);
  border-radius: 21px;
  display: flex;
  color: #fff;
  padding: 2vh;
  align-items: center;
}

.sidebar_div_deactive {
  display: flex;
  padding: 2vh;
  align-items: center;
}

.sidebar_div_active > div > svg {
  padding-left: 1vw;
}

.sidebar_div_active > div > a {
  color: #fff;
}
.sidebar_div_deactive > div > svg {
  color: #087592;
  padding-left: 1vw;
}

.sidebar_div_text {
  padding-left: 1vw;
  display: flex;
  text-align: center;
  justify-content: center;
}

.sidebar_div_text > a{
  text-decoration: none;
  color: black;

}

.sidebar_div_text > a:hover{
  text-decoration: none;
}

.sidebar_div_text > a:active{
  text-decoration: none;
}


.sidebar_link_a {
  font-size: 1rem;
  color: #000000;

}
.sidebar_footer {
  flex-grow: 1;
}

